<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Bienvenido/a!</ion-title>
    <ion-img src="assets/prevencion_desastres.png"></ion-img>
    <p class="subTitle">Ingresa tus datos para crear tu cuenta!</p>
  </div>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="Usuario" name="nombre" [(ngModel)]="nombre" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Correo" name="correo" [(ngModel)]="correo" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Contraseña" name="clave" [(ngModel)]="clave" type="password" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-button (click)="createUser()">Registrar</ion-button>
      </ion-item>
      <div class="signinLink">
        <p>¿Ya eres miembro? <a style="color:#FFC33F" [routerLink]="['/login']">Inicia sesión!</a></p>
      </div>
    </div>
  </form>

  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
    <ion-fab-button [routerLink]="['/home']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
