<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acerca De</ion-title>
  </ion-toolbar>
</ion-header>

<!--TITULO-->
<ion-content [fullscreen]="true">
  
 <ion-card> 
  <ion-card-header>
    <ion-card-title>Equipo de Desarrollo</ion-card-title>
  </ion-card-header>
</ion-card>

  <!--BLOQUE DE YURIKO-->
  <ion-card>
  <ion-card-content>
    <ion-list lines="none">
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/img/fotoy1.jpeg"></ion-img>
      </ion-avatar>
      <ion-label> 
        <h2>Yuriko Mukai A.</h2>
        <p>En el rol de FullStack</p>
      </ion-label>
    </ion-item>
    </ion-list>
  </ion-card-content>
 </ion-card>

 <ion-card>
  <ion-card-header>
    <ion-card-title>Contacto</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>20220358&#64;itla.edu.do</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="clipboard" slot="start"></ion-icon>
        <ion-label>2022-0358</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
 </ion-card>

<!--BLOQUE DE AIDIL-->
<ion-card>
  <ion-card-content>
    <ion-list lines="none">
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/img/fotoa2.jpeg"></ion-img>
      </ion-avatar>
      <ion-label> 
        <h2>Aidil Elizabeth Garcia Castillo</h2>
        <p>En el rol de Front-end</p>
      </ion-label>
    </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Contacto</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>20220430&#64;itla.edu.do</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="clipboard" slot="start"></ion-icon>
        <ion-label>2022-0430</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
 </ion-card>

<!--BLOQUE DE DIEGO-->
<ion-card>
  <ion-card-content>
    <ion-list lines="none">
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src=""></ion-img>
      </ion-avatar>
      <ion-label> 
        <h2>Diiego Olivero</h2>
        <p>En el rol de Front-end</p>
      </ion-label>
    </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Contacto</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>20211803&#64;itla.edu.do</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="clipboard" slot="start"></ion-icon>
        <ion-label>2021-1803</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
 </ion-card>


<!--BLOQUE DE LUIS-->
<ion-card>
  <ion-card-content>
    <ion-list lines="none">
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/img/fotol3.jpeg"></ion-img>
      </ion-avatar>
      <ion-label> 
        <h2>Luis Angel De la Cruz</h2>
        <p>En el rol de Back-end</p>
      </ion-label>
    </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Contacto</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>20211031&#64;itla.edu.do</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="clipboard" slot="start"></ion-icon>
        <ion-label>2021-1031</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
 </ion-card>

<!--BLOQUE DE JAEL-->
<ion-card>
<ion-card-content>
  <ion-list lines="none">
  <ion-item>
    <ion-avatar slot="start">
      <ion-img src=""></ion-img>
    </ion-avatar>
    <ion-label> 
      <h2>Jael Jimenez Herasme</h2>
      <p>En el rol de Front-end</p>
    </ion-label>
  </ion-item>
  </ion-list>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Contacto</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>20198889&#64;itla.edu.do</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="clipboard" slot="start"></ion-icon>
        <ion-label>2019-8889</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
 </ion-card>

</ion-content>
