<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Bienvenido/a de vuelta!</ion-title>
    <ion-img src="assets/prevencion_desastres.jpg"></ion-img>
    <p class="subTitle">Inicia sesión para acceder a tu cuenta</p>
  </div>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="Usuario" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Contraseña" type="password" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div class="forgotPassword">
        <a [routerLink]="['/reset-password']" style="color:#FFC33F">¿Olvidaste tu contraseña?</a>
      </div>
      <div class="signupLink">
        <p>¿Aun no eres miembro? <a style="color:#FFC33F" [routerLink]="['/sign-up']">Registrate ahora!</a></p>
      </div>
    </div>
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button >
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['/login']">
        <ion-icon name="person-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['/menu']">
        <ion-icon name="construct-outline"></ion-icon>
      </ion-fab-button>
      <!-- Agrega más opciones según sea necesario -->
    </ion-fab-list>
  </ion-fab>
</ion-content>
