<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nuestros Servicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row  class="centered-items">
      <!-- Item 1 - Primeros Auxilios -->
      <ion-col size="6" class="ion-text-center ion-align-items-center" (click)="abrirVentanaEmergente('Atención Prehospitalaria', 'esta es una descripcion hardcodeadalol')">
        <ion-card>
          <ion-card-header>
            <ion-icon name="medkit" class="custom-icon"></ion-icon>
            <ion-card-title>Atención Prehospitalaria</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      
      <!-- Item 2 - Baywatch -->
      <ion-col size="6" class="ion-text-center ion-align-items-center" (click)="abrirVentanaEmergente('Salvamento Acuático', 'esta es una descripcion hardcodeadalol')">
        <ion-card>
          <ion-card-header>
            <ion-icon name="boat" class="custom-icon"></ion-icon>
            <ion-card-title>Salvamento Acuático</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      
      <!-- Item 3 - Rescate Canino -->
      <ion-col size="6" class="ion-text-center ion-align-items-center" (click)="abrirVentanaEmergente('Unidad Canina', 'esta es una descripcion hardcodeadalol')">
        <ion-card>
          <ion-card-header>
            <ion-icon name="paw" class="custom-icon" ></ion-icon>
            <ion-card-title>Búsqueda y Rescate con Unidad Canina</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <!-- Item 4 - Baywatch -->
      <ion-col size="6" class="ion-text-center ion-align-items-center" (click)="abrirVentanaEmergente('Extracción Vehicular', 'esta es una descripcion hardcodeadalol')">
        <ion-card>
          <ion-card-header>
            <ion-icon name="car-sport" class="custom-icon"></ion-icon>
            <ion-card-title>Extracción Vehicular</ion-card-title>
          </ion-card-header>  
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


